<mapper namespace="com.lagou.dao.IUserDao">

    <!--sql的唯一标识：namespace.id来组成 ： statementId-->
    <select id="findAll" resultType="com.lagou.pojo.User">
        select * from user
    </select>

    <select id="findByCondition" resultType="com.lagou.pojo.User" parameterType="com.lagou.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>

    <update id="updateUserById" parameterType="com.lagou.pojo.User">
        update user
        set
        username=#{username},
        password=#{password},
        birthday=#{birthday}
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from user where id = #{id}
    </delete>


    <insert id="insert" parameterType="com.lagou.pojo.User">
        insert into user(id,username,password,birthday)
        values(
        #{id},#{username},#{password},#{birthday}
        )
    </insert>
</mapper>